{{- $componentName := "backend" -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pipes.fullname" (dict "suffix" $componentName "root" .) }}
  labels:
{{ include "pipes.labels" . | indent 4 }}
{{ include "pipes.selectorLabels" (dict "suffix" $componentName "root" .) | indent 4 }}
spec:
  selector:
    matchLabels:
{{ include "pipes.selectorLabels" (dict "suffix" $componentName "root" .) | indent 6 }}
  template:
    metadata:
      labels:
{{ include "pipes.selectorLabels" (dict "suffix" $componentName "root" .) | indent 8 }}
    spec:
{{ include "pipes.imagePullSecrets" . | indent 6 }}
      containers:
        - name: php-w-nginx
          image: {{ include "pipes.imageFullname" (dict "image" "backend" "root" .) }}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          env:
            - name: TZ
              value: "{{ .Values.global.timezone }}"
            - name: BACKEND_URL
              value: "{{ .Values.global.backend_url }}"
            - name: STARTING_POINT_URL
              value: "{{ .Values.global.starting_point_url }}"
            - name: ALPHA_INSTANCE_ID
              value: {{ .Values.global.backend.alpha_instance_id }}
            - name: CRON_DSN
              value: cron-api:8080
            - name: PHP_FPM_MAX_REQUESTS
              value: "5000"
            - name: PHP_FPM_MAX_CHILDREN
              value: "20"
            - name: WORKER_DEFAULT_PORT
              value: "8000"
                ##### jen pokud je to applinth
            - name: JWE_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  key: applinth_jwe_private_key
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: UDP_LOGGER_URL
              value: "{{ include "pipes.fullname" (dict "suffix" "fluentd" "root" .) }}:5120"
            - name: CHECK_INFINITY_LOOP
              value: "{{ .Values.global.backend.checkInfinityLoop }}"
            - name: RABBITMQ_DSN
              valueFrom:
                secretKeyRef:
                  key: rabbitmq_dsn
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  key: backend_jwt_key
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: MONGODB_DSN
              valueFrom:
                secretKeyRef:
                  key: mongodb_dsn
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: MONGODB_DB
              valueFrom:
                secretKeyRef:
                  key: mongodb_db
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: METRICS_DB
              valueFrom:
                secretKeyRef:
                  key: metrics_db
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: METRICS_DSN
              valueFrom:
                secretKeyRef:
                  key: metrics_dsn
                  name: {{ include "pipes.fullname" (dict "suffix" "secrets" "root" .) }}
            - name: TOPOLOGY_API_DSN
              value: "{{ include "pipes.fullname" (dict "suffix" "topology-api" "noPrefix" true "root" .) }}:8080"
            - name: LIMITER_URL
              value: "{{ include "pipes.fullname" (dict "suffix" "limiter" "root" .) }}:80"
            - name: FRONTEND_URL
              value: "{{ .Values.global.frontend_url }}/"

{{- if not .Values.global.imageOverrides.bridge }}
            - name: DOCKER_PF_BRIDGE_IMAGE
              value: {{ .Values.global.orchestyImageRegistry.server }}/{{ .Values.global.orchestyImageRegistry.path }}/{{ .Values.global.images.bridge }}:{{ .Values.global.orchestyVersion }}
{{- else }}
            - name: DOCKER_PF_BRIDGE_IMAGE
              value: {{ .Values.global.imageOverrides.bridge }}
{{- end }}
          resources:
{{ toYaml .Values.global.backend.resources | indent 12 }}

{{- with .Values.global.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.global.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
