global:
  orchestyVersion: "2.1"
  frontend_url: https://pipes.example.com
  backend_url: https://backend.pipes.example.com
  starting_point_url: http://starting-point.pipes.example.com

  timezone: "Europe/London"

  useQuota: false
  namespaceQuota:
    resources:
      requests.cpu: 1000m
      requests.memory: 512Mi
      limits.cpu: 4000m
      limits.memory: 2Gi

  # defaults to internal worker-api service URL
  worker_api_url: ""

  imageRegistry:
    enablePullSecret: false
    server: docker.io
    path: orchesty
    username: ""
    password: ""

  imageOverrides: {}
    # note: you can currently override image used in topologies only by changing images.bridge

  images:
    applinth-marketplace-ui: ""
    backend: backend
    frontend: frontend
    cron-api: cron

    bridge: bridge
    counter: counter

    limiter: limiter
    starting-point: starting-point
    topology-api: topology-api
    fluentd: fluentd
    detector: detector
    worker-api: worker-api

  # Default global node selector
  nodeSelector: {}
  tolerations: []

  monitoring:
    logStorage: mongodb

    # Used only when logStorage is "google"
    # You must also add iam policy binding to that account:
    # gcloud iam service-accounts add-iam-policy-binding \
    #   --role roles/iam.workloadIdentityUser \
    #   --member "serviceAccount:PROJECT-ID.svc.id.goog[NAMESPACE/KSA-NAME]" \
    #   GSA-WITH-LOGS-WRITER-ROLE
    #
    # see https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#authenticating_to
    #
    googleServiceAccount: gsa-with-Logs-Writer-role

  api:
    serviceAnnotations: {}

  applinthMarketplaceUI:
    service:
      type: none
      port: 80
    auth_backlink: not-set
    branding_package_url: ""
    serviceAnnotations: {}
    resources:
      requests:
        memory: 8Mi
        cpu: 1m
      limits:
        memory: 12Mi
        cpu: 10m

  backend:
    service:
      type: none
      port: 80
    alpha_instance_id: not-set
    checkInfinityLoop: true
    resources:
      requests:
        memory: 80Mi
        cpu: 1m
      limits:
        memory: 96Mi
        cpu: 500m

  cronApi:
    resources:
      requests:
        memory: 20Mi
        cpu: 1m
      limits:
        memory: 32Mi
        cpu: 50m

  frontend:
    service:
      type: none
      port: 80
    serviceAnnotations: {}
    resources:
      requests:
        memory: 8Mi
        cpu: 1m
      limits:
        memory: 12Mi
        cpu: 10m

  limiter:
    resources:
      requests:
        memory: 20Mi
        cpu: 10m
      limits:
        memory: 32Mi
        cpu: 500m

  fluentd:
    resources:
      requests:
        memory: 100Mi
        cpu: 10m
      limits:
        memory: 128Mi
        cpu: 150m

  multiCounter:
    resources:
      requests:
        memory: 20Mi
        cpu: 5m
      limits:
        memory: 32Mi
        cpu: 500m

  startingPoint:
    service:
      type: none
      port: 8080
    serviceAnnotations: {}
    resources:
      requests:
        memory: 20Mi
        cpu: 10m
      limits:
        memory: 32Mi
        cpu: 500m

  detector:
    manageServiceAccount: true
    manageRBAC: true
    resources:
      requests:
        memory: 55Mi
        cpu: 10m
      limits:
        memory: 64Mi
        cpu: 100m

  topologyApi:
    manageServiceAccount: true
    manageRBAC: true
    resources:
      requests:
        memory: 50Mi
        cpu: 5m
      limits:
        memory: 64Mi
        cpu: 100m
    topologiesResources:
      defaultRequestCpu: 10m
      defaultRequestMemory: 50Mi
      defaultLimitCpu: 200m
      defaultLimitMemory: 128Mi
    topologiesExtraEnv: {}
#     FOO:
#       value: bar
    topologiesExtraSpec: {}
#      nodeSelector:
#        bridgepool: "true"
#      tolerations:
#        - effect: NoSchedule
#            key: bridgepool
#            operator: Equal
#            value: "true"

  worker:
    hostPathMounts: []
    nodeSelector: {}
    tolerations: []
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: 1001m

  workers: {}
  # foo:
  #   sdk: nodejs
  #   image: NOT-PROVIDED
  #   extraEnv:
  #     bar:
  #       value: baz
  #   replicas: 1
  #   resources:
  #     requests:
  #       memory: 128Mi
  #       cpu: 50m
  #     limits:
  #       memory: 512Mi
  #       cpu: 1001m

  workerApi:
    serviceAnnotations: {}
    resources:
      requests:
        memory: 50Mi
        cpu: 5m
      limits:
        memory: 64Mi
        cpu: 250m

nameOverride: ""
fullnameOverride: ""


valkey:
  enabled: false # Enable it, if you want use Valkey(Redis) for cache

  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  dataStorage:
    enabled: false # Enable it, if you want use persist storage
    requestedSize: 1Gi
    storageClass: local-path